@forward "./theme/root";

.bg-primary {
  background-color: var(--primary);
}
.text-primary-fg {
  color: var(--primary-foreground);
}
.text-forground {
  color: var(--primary-foreground);
}
.bg-background {
  background-color: var(--bg-color);
}
$body-color: var(--body-color);
$body-bg: var(--body-bg);
