:root {
  --body-bg: #fff;
  --body-color: #333;
  --primary: #303f9f;
  --primary-foreground: #ffffff;
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --text-foreground: #1a1a1a;
  --border-color: #e0e0e0;
}

@import "./dark";
@import "./light";
