dialog {
  border: 2px solid #333;
  border-radius: 8px;
  background-color: var(--body-bg);
  color: var(--text-color) !important;
  padding: 2rem;
  margin: auto;
  form {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    button {
      border: none;
      border-radius: 5px;
      background-color: var(--button-primary);
      cursor: pointer;
      font-size: 1.1rem;
    }
  }
  @media (width < 768px) {
    margin-inline: 0.5rem;
    transform: translateY(-4rem);
  }
}
.dark dialog {
  border: 2px solid #eee;
  border-radius: 8px;
}
