@import "./abstracts/vars";
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  height: auto !important;
}
body {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  color: $body-color;
  font-size: inherit;
  line-height: 1.5;
  background: $body-bg;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  height: auto !important;
}
main {
  overflow: hidden;
}
